.NorthernUíNéill_1 {
  top: 9.5%;
  left: 58.5%;
}

.NorthernUíNéill_2 {
  top: 10.5%;
  left: 68%;
}

.NorthernUíNéill_3 {
  top: 16%;
  left: 76%;
}

.NorthernUíNéill_4 {
  top: 15.5%;
  left: 60.5%;
}

.NorthernUíNéill_5 {
  top: 25%;
  left: 74%;
}

.NorthernUíNéill_6 {
  top: 30%;
  left: 64.5%;
}

.NorthernUíNéill_7 {
  top: 34%;
  left: 71%;
}

.Ulaid_8 {
  top: 14%;
  left: 82.5%;
}

.Ulaid_9 {
  top: 21%;
  left: 81.25%;
}

.Ulaid_10 {
  top: 31%;
  left: 79%;
}

.Ulaid_11 {
  top: 36%;
  left: 83%;
}

.Ulaid_12 {
  top: 41%;
  left: 78%;
}

.Bréifne_13 {
  top: 20%;
  left: 57%;
}

.Bréifne_14 {
  top: 23%;
  left: 51.5%;
}

.Bréifne_15 {
  top: 33%;
  left: 58.5%;
}

.Bréifne_16 {
  top: 35%;
  left: 53%;
}

.SouthernUíNéill_17 {
  top: 41%;
  left: 61%;
}

.SouthernUíNéill_18 {
  top: 44%;
  left: 66.25%;
}

.SouthernUíNéill_19 {
  top: 55.5%;
  left: 63%;
}

.SouthernUíNéill_20 {
  top: 53%;
  left: 56.5%;
}

.SouthernUíNéill_21 {
  top: 48%;
  left: 52%;
}

.SouthernUíNéill_22 {
  top: 42.5%;
  left: 55.5%;
}

.Dubhlinn_23 {
  top: 55.5%;
  left: 68.75%;
}

.Dubhlinn_24 {
  top: 62%;
  left: 65.75%;
}

.Dubhlinn_25 {
  top: 69.4%;
  left: 66.7%;
}

.Connaught_26 {
  top: 16%;
  left: 36%;
}

.Connaught_27 {
  top: 23.75%;
  left: 42%;
}

.Connaught_28 {
  top: 32.5%;
  left: 48%;
}

.Connaught_29 {
  top: 40.5%;
  left: 48.25%;
}

.Connaught_30 {
  top: 37.5%;
  left: 37.5%;
}

.Connaught_31 {
  top: 32.25%;
  left: 27.75%;
}

.Connaught_32 {
  top: 46%;
  left: 38.5%;
}

.Connaught_33 {
  top: 48.25%;
  left: 45%;
}

.Connaught_53 {
  top: 27%;
  left: 36%;
}

.Leinster_34 {
  top: 58%;
  left: 51%;
}

.Leinster_35 {
  top: 62.25%;
  left: 58.25%;
}

.Leinster_36 {
  top: 66.5%;
  left: 48.8%;
}

.Leinster_37 {
  top: 72.8%;
  left: 49.4%;
}

.Leinster_38 {
  top: 77.5%;
  left: 56.25%;
}

.Leinster_39 {
  top: 79.2%;
  left: 61.25%;
}

.Leinster_40 {
  top: 79%;
  left: 50%;
}

.Leinster_41 {
  top: 86.5%;
  left: 56.5%;
}

.Leinster_42 {
  top: 87.5%;
  left: 48.5%;
}

.Munster_43 {
  top: 53%;
  left: 30%;
}

.Munster_44 {
  top: 57%;
  left: 36.25%;
}

.Munster_45 {
  top: 66%;
  left: 34%;
}

.Munster_46 {
  top: 77%;
  left: 43%;
}

.Munster_47 {
  top: 64.3%;
  left: 21.1%;
}

.Munster_48 {
  top: 85.5%;
  left: 40.75%;
}

.Munster_49 {
  top: 70.25%;
  left: 18.25%;
}

.Munster_50 {
  top: 84%;
  left: 29%;
}

.Munster_51 {
  top: 73.2%;
  left: 10.7%;
}

.Munster_52 {
  top: 75.75%;
  left: 23%;
}

/* 
Zapamiętać - skalowanie gry na duże komputery 
renderowanie regionów - nie da się klikać miast 
*/
